.intro{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    padding: 0px 20vw;
    padding-top: 2.5vh;
    gap: 10px;
    margin-bottom: 5vh;
}
h1{
    font-size: 3rem;
}
h1 span{
 color:paleturquoise;
}
p{
    font-size: 1.4rem;
    line-height: 1.2;
    padding-left: 10px;
}